name: pr-build

on:
  pull_request:
  merge_group:

jobs:
  pr-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.0

      - run: pnpm install

      - run: pnpm lint

      - run: pnpm build
